body {
    padding-top: 5rem;
}

#property-container{
    display: grid;
    grid-template-columns: auto auto auto;
}

.property-picture {
    height: 300px;
}

#properties-header {
    margin-bottom: 5%;
}