{% extends "base.html" %}

{% block main %}
<h1>Add Property</h1>
<p>Please fill out the following fields to add a property</p>
<form method="POST" action={{ url_for('createProperty') }} enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.title.label }}
    <br>
    {{ form.title(size=80) }}
    <br>
    {{ form.num_bedrooms.label }}
    <br>
    {{ form.num_bedrooms(size=2) }}
    <br>
    {{ form.num_bathrooms.label }}
    <br>
    {{ form.num_bathrooms(size=2) }}
    <br>
    {{ form.location.label }}
    <br>
    {{ form.location(size=40) }}
    <br>
    {{ form.property_type.label }}
    <br>
    {{ form.property_type }}
    <br>
    {{ form.price.label }}
    <br>
    {{ form.price(size=20) }}
    <br>
    {{ form.description.label }}
    <br>
    {{ form.description(size=255) }}
    <br>
    {{ form.photo.label }}
    <br>
    {{ form.photo }}
    <br>
    <br>
    <input type="submit" value="Submit">
</form>

{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% endblock %}